body {
  margin: 0px;
  padding: 0px;
  background-color: gray;
  font-family: "Karla", sans-serif;
}

.header {
  font-family: "Karla", sans-serif;
  display: flex;
  align-items: center;
  height: 65px;
  background: rgb(53, 53, 52);
  color: white;
  padding: 20px;
}

.header--nav {
  margin-right: 30px;
  font-size: 1.25rem;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--icon {
  margin-right: 20px;
  color: aquamarine;
}

.app--container {
  color: white;
  margin: 5px;
  padding: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: wheat;
}

.user--interface {
  text-align: center;
}

.interface--greeting {
  color: wheat;
  padding-bottom: 20px;
}

.user--icon {
  color: goldenrod;
}

.computer--icon {
  color: goldenrod;
}

.match--evaluation {
  color: wheat;
  padding: 20px;
  font-size: x-large;
}

.about--screen {
  padding-left: 15px;
}

.home--screen {
  padding-left: 15px;
}

.github--link {
  color: gold;
}